/*workpage font style inputs*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
/*contactpage text style*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
/*workpage goback box*/
.goback{
   position: absolute;
   top:20px;
   left:20px;
   size: 150px;
   background-color:#39A9CB;
   font-size: 1.8em;
   color:#366473;
   mix-blend-mode: luminosity;
   background-position: center;
   line-height:40px;
   border-radius:10px;
   cursor: pointer;
   opacity: 0.7;
}
/*workpage goback link without underline*/
.goback a{
   text-decoration: none;
}
/* after click workpage goback button (effect)*/
.goback:hover{
  background-color: #64DFDF;
  color: #0A1931;
  mix-blend-mode: lighten;
  transition: 0.2s;
}
/* workpage body position*/
body{
  background-position: center;
  background-size: cover;
}
/* workpage workpage*/
.title{
   position: relative;
   text-align: center;
   top:90px;
   width:1200px;
   height:60px;
   border-radius:20px 20px 20px 20px;
   border: 6px solid #366473;
   background-color: rgba(0, 0, 0, 0.6);
   margin:auto;
   color:#FFFFFF;
   padding:10px 0px 10px 0px;
   text-align:center;
   }

   /* contactpage workpage box*/
   .main{
     position: relative;
     border-radius:20px;
     border: 6px solid #366473;
     top:100px;
     background-color: rgba(0, 0, 0, 0.5);
     width:1200px;
     height:680px;
     margin:auto;
   }

/* workpage company*/

.Company{
  position: absolute;
  text-align: center;
  width:150px;
  left:0px;
  top:10px;
  line-height:40px;
  border-radius:6px;
  padding:0 16px;
  margin: 0px 30px;
  font-size:16px;
  color:#FFFFFF;
}

.R{
  position: relative;
  width:150px;
  left:-15px;
  top:0px;
  border-radius:6px;
  font-size:16px;
  color:#FFFFFF;
  line-height:10;
}

.T{
  position: relative;
  width:150px;
  left:-15px;
  top:0px;
  border-radius:6px;
  font-size:16px;
  color:#FFFFFF;
  line-height:10;
}

.S{
  position: relative;
  width:150px;
  left:-15px;
  top:0px;
  border-radius:6px;
  font-size:16px;
  color:#FFFFFF;
  line-height:10;
}

.experience{
  position: absolute;
  text-align: center;
  width:150px;
  left:0px;
  top:10px;
  line-height:40px;
  border-radius:6px;
  padding:0 16px;
  margin: 0px 277.5px;
  font-size:16px;
  color:#FFFFFF;
}

.opsm{
  position: relative;
  width:250px;
  left:-65px;
  top:0px;
  border-radius:6px;
  font-size:16px;
  color:#FFFFFF;
  line-height:10;
}

.opsa{
  position: relative;
  width:250px;
  left:-65px;
  top:0px;
  border-radius:6px;
  font-size:16px;
  color:#FFFFFF;
  line-height:10;
}

.csom{
  position: relative;
  width:300px;
  left:-90px;
  top:0px;
  border-radius:6px;
  font-size:16px;
  color:#FFFFFF;
  line-height:10;
}

.skill{
  position: absolute;
  text-align: center;
  width:150px;
  left:0px;
  top:10px;
  line-height:40px;
  border-radius:6px;
  padding:0 16px;
  margin: 0px 525px;
  font-size:16px;
  color:#FFFFFF;
}

.html{
  position: relative;
  width:150px;
  left:-15px;
  top:80px;
  border-radius:6px;
  font-size:16px;
  color:#FFFFFF;
  line-height:0;
}

.css{
  position: relative;
  width:300px;
  left:-90px;
  top:130px;
  border-radius:6px;
  font-size:16px;
  color:#FFFFFF;
  line-height:0;
}

.js{
  position: relative;
  width:300px;
  left:-90px;
  top:180px;
  border-radius:6px;
  font-size:16px;
  color:#FFFFFF;
  line-height:0;
}

.node{
  position: relative;
  width:300px;
  left:-90px;
  top:230px;
  border-radius:6px;
  font-size:16px;
  color:#FFFFFF;
  line-height:0;
}

.react{
  position: relative;
  width:300px;
  left:-90px;
  top:280px;
  border-radius:6px;
  font-size:16px;
  color:#FFFFFF;
  line-height:0;
}

.mango{
  position: relative;
  width:300px;
  left:-90px;
  top:330px;
  border-radius:6px;
  font-size:16px;
  color:#FFFFFF;
  line-height:0;
}

.web3{
  position: relative;
  width:300px;
  left:-90px;
  top:380px;;
  border-radius:6px;
  font-size:16px;
  color:#FFFFFF;
  line-height:0;
}

.dapps{
  position: relative;
  width:300px;
  left:-90px;
  top:430px;
  border-radius:6px;
  font-size:16px;
  color:#FFFFFF;
  line-height:0;
}

.sql{
  position: relative;
  width:300px;
  left:-90px;
  top:480px;
  border-radius:6px;
  font-size:16px;
  color:#FFFFFF;
  line-height:0;
}

.excel{
  position: relative;
  width:300px;
  left:-90px;
  top:530px;;
  border-radius:6px;
  font-size:16px;
  color:#FFFFFF;
  line-height:0;
}

.ps{
  position: relative;
  width:300px;
  left:-90px;
  top:580px;
  border-radius:6px;
  font-size:16px;
  color:#FFFFFF;
  line-height:0;
}

.language{
  position: absolute;
  text-align: center;
  width:150px;
  left:0px;
  top:10px;
  line-height:40px;
  border-radius:6px;
  padding:0 16px;
  margin: 0px 762.5px;
  font-size:16px;
  color:#FFFFFF;
}

.en{
    position: relative;
    width:300px;
    left:-85px;
    top:80px;
    border-radius:6px;
    font-size:16px;
    color:#FFFFFF;
    line-height:0;
}

.ch{
    position: relative;
    width:300px;
    left:-85px;
    top:130px;
    border-radius:6px;
    font-size:16px;
    color:#FFFFFF;
    line-height:0;
  }

  .jap{
      position: relative;
      width:300px;
      left:-85px;
      top:180px;
      border-radius:6px;
      font-size:16px;
      color:#FFFFFF;
      line-height:0;
    }

.education{
  position: absolute;
  text-align: center;
  width:150px;
  left:0px;
  top:10px;
  line-height:40px;
  border-radius:6px;
  padding:0 16px;
  margin: 0px 1000px;
  font-size:16px;
  color:#FFFFFF;
}

.ucb{
  position: relative;
  width:300px;
  left:-85px;
  top:80px;
  border-radius:6px;
  font-size:16px;
  color:#FFFFFF;
  line-height:0;
}


/* workpage download button position */
.submit{
  position: fixed;
  top:600px;
  background-color: #111;
  margin:25px 0px 0px 10px;
  text-align: center;
  border-radius: 20px;
  border: 6px solid #366473;
  left:1040px;
  padding:10px 60px;
  outline:none;
  font-size: 20px;
  text-transform:capitalize;
  color:white;
  cursor: pointer;
  transition: 0.5s;
  opacity: 0.7;

}
/* workpage download button text sytle changed after click */
.submit:hover{
  background-color: #085F63;
  color: #D8E9A8;
  letter-spacing: 6px;
  transition: 0.3s  ease-in-out;
}


/* workpage video background*/
.showcaseC video{
  position: fixed;
  object-fit:cover;
  top: 0;
  left: 0;
  min-width:100%;
  min-height:100%;
}

/* workpage video background blend*/
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  background:url('css firstpage pics/background.jpg');
  mix-blend-mode: hard-light;
  opacity: 0.42;
}
